<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Cuenta</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="white"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
      <ion-icon id="ef" name="bag-handle" slot="icon-only"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let usuario of arregloUsuario">
    <ion-card-header>

      <ion-card-title color="light">Información del Usuario</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>

            <ion-item>
              <ion-label position="stacked">Nombre del Usuario</ion-label>
              <ion-input [(ngModel)]="usuario.nombre" ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Apellido del Usuario</ion-label>
              <ion-input [(ngModel)]="usuario.apellido" ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Rut del Usuario</ion-label>
              <ion-input [(ngModel)]="usuario.rut" ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Correo Electrónico</ion-label>
              <ion-input [(ngModel)]="usuario.correo" readonly></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Telefono</ion-label>
              <ion-input [(ngModel)]="usuario.telefono" ></ion-input>
            </ion-item>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card  >
    <ion-card-header>
      <ion-card-title color="light">Dirección de Envío</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Comuna</ion-label>
              <ion-input ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Región</ion-label>
              <ion-input></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Nombre del Cliente</ion-label>
              <ion-input ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Dirección de su Domicilio</ion-label>
              <ion-input ></ion-input>
            </ion-item>
            <div class="botones">
              <ion-button  color="tertiary" [routerLink]="'/agregardireccion'">Agregar Direccion</ion-button>
              <ion-button  color="tertiary" [routerLink]="'/modificardireccion'">Modificar Direccion</ion-button>
            </div>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title color="light">Mis Compras</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">N° Pedido</ion-label>
              <ion-input [(ngModel)]="pedidos.numeroPedido" ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Producto</ion-label>
              <ion-input [(ngModel)]="pedidos.producto" ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Cantidad</ion-label>
              <ion-input [(ngModel)]="pedidos.cantidad" ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Precio</ion-label>
              <ion-input [(ngModel)]="pedidos.precio" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Estado</ion-label>
              <ion-input [(ngModel)]="pedidos.estado" ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card> -->

</ion-content>