<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Catalogo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="white"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center" color="light">Hoodies</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" *ngFor="let item of arregloProductos">
            <ion-card *ngIf="item.categoria == 'Poleron'">
              <img [src]="item.foto" />
              <ion-card-header>
                <ion-card-title color="light">{{ item.nombre }}</ion-card-title>
                
              </ion-card-header>
              <ion-card-content >
                <p color="light">{{ item.descripcion }}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center" color="light">Poleras</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" *ngFor="let item of arregloProductos">
            <ion-card *ngIf="item.categoria == 'Polera'">
              <img [src]="item.foto" />
              <ion-card-header>
                <ion-card-title color="light">{{ item.nombre }}</ion-card-title>
                
              </ion-card-header>
              <ion-card-content>
                <p color="light">{{ item.descripcion }}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center" color="light">Falda</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" *ngFor="let item of arregloProductos">
            <ion-card *ngIf="item.categoria == 'Falda'">
              <img [src]="item.foto" />
              <ion-card-header>
                <ion-card-title color="light">{{ item.nombre }}</ion-card-title>
                
              </ion-card-header>
              <ion-card-content>
                <p color="light">{{ item.descripcion }}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center" color="light">Short</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" *ngFor="let item of arregloProductos">
            <ion-card *ngIf="item.categoria == 'Short'">
              <img [src]="item.foto" />
              <ion-card-header>
                <ion-card-title color="light">{{ item.nombre }}</ion-card-title>
                
              </ion-card-header>
              <ion-card-content>
                <p color="light">{{ item.descripcion }}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>



  


