<ion-app>
  <ion-menu-toggle>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>
        <ion-list>
          <!-- Elementos comunes para todos los usuarios -->
          <ion-item [routerDirection]="'root'" [routerLink]="'/home'">
            <ion-icon name="home"></ion-icon>
            <ion-label>HomeStudio</ion-label>
          </ion-item>
    
          <!-- Elementos para usuarios autenticados -->
          <ng-container *ngIf="authService.currentUserValue">
            <ion-item [routerDirection]="'root'" [routerLink]="'/carrito'">
              <ion-icon name="cart"></ion-icon>
              <ion-label>Carrito</ion-label>
            </ion-item>
    
            <ion-item [routerDirection]="'root'" [routerLink]="'/cuenta'">
              <ion-icon name="person"></ion-icon>
              <ion-label>Cuenta</ion-label>
            </ion-item>
    
            <!-- Elementos específicos para administradores -->
            <ion-item *ngIf="authService.currentRolValue === 1" [routerDirection]="'root'" [routerLink]="'/adminprincipal'">
              <ion-icon name="settings"></ion-icon>
              <ion-label>Admin</ion-label>
            </ion-item>
    
            <!-- Elementos específicos para clientes -->
            <ion-item *ngIf="authService.currentRolValue === 2" [routerDirection]="'root'" [routerLink]="'/catalogo'">
              <ion-icon name="flame"></ion-icon>
              <ion-label>CatalogoOculto</ion-label>
            </ion-item>
    
            <ion-item (click)="logout()">
              <ion-icon name="log-out"></ion-icon>
              <ion-label>Cerrar Sesión</ion-label>
            </ion-item>
          </ng-container>
    
          <!-- Elementos para usuarios no autenticados -->
          <ion-item *ngIf="!authService.currentUserValue" [routerDirection]="'root'" [routerLink]="'/login'">
            <ion-icon name="log-in"></ion-icon>
            <ion-label>Ingresar/Registrarse</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

  </ion-menu-toggle>  
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>